/*GLOBAL CSS styles*/

/* FONT STYLES */
/* @import 'ngx-toastr/toastr'; */
/* Styles for toast messages*/
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* GLOBAL APP STYLES */
:root {
  --red: rgb(223, 6, 17);
  --red-opaque8: rgb(223, 6, 17, .8);
  --red-opaque9: rgb(223, 6, 17, .9);
  --orange: #b65f28;
  --orange-opaque8: rgb(182, 95, 40, .8);
  --black-opaque8: rgb(36, 35, 35, .8);
  --black-opaque9: rgb(36, 35, 35, .9);
  --black: rgb(36, 35, 35);
  --yellow: #FFD543;
  --yellow-opaque9: rgb(255, 213, 67, .9);
  --white: #FFFFFF;
  --white-opaque8: rgb(255, 255, 255, .8);
  --white-light: #ECEFF3;
  --grey-light: #ebedf0;
  --beige: rgb(240, 234, 200);
  --beige-opaque8: rgb(240, 234, 200, .8);
  --beige-opaque9: rgb(240, 234, 200, .9);
  --blue: #4472C4;
}
html {
  font-size: 62.5%;
  /* 16px*62.5%=10px, 1rem=10px*/
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: 0;
  /* Firefox */
}
body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  width: 100vw;
  height:100vh;
}
h1 {
  font-family: "Mochiy Pop P One", sans-serif;
}
h2,
h3,
h4,
h5,
h6,
label,
button {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size:2rem;
}
.debug {
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  margin: 0;
  padding: 10px;
}

/* TOAST MESSAGES */
.toast-message {
  font-size: 1.4rem;
}
/*  APP  */
div.app-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 97px calc(100vh - 97px);
  background-color: var(--grey-light);
  height: 100vh;
  width:100%;
}
div.app-main-content {
  grid-row: 2;
  display: grid;
  grid-template-columns: 120px auto;
  grid-template-rows:100%;
  position:fixed;
  top:97px;
  height:calc(100% - 97px);
  width:100%;
}
/* NAVIGATION BAR */
.navbar {
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: 550;
  background-color: aquamarine;
  padding: 20px 0;
  height: 100%;
}
.navbar p {
  padding: 5px 10px;
  margin: 0;
  cursor: pointer;
}
.navbar a:not(.active) p:hover {
  background-color: var(--white-light);
  padding-left: 15px;
  padding-right: 5px;
  transition: .3s;
}
.navbar a.active p {
  color: var(--red);
}
.navbar a:link {
  text-decoration: none;
}
.navbar a:visited {
  text-decoration: none;
}
/* PAGES */
.page-container {
  grid-column: 2;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 15px 35px auto;
  background-color: var(--grey-light);
  padding: 10px 20px;
}
.page-container.list {
  grid-template-rows: 60px 15px 0 auto;
}
@media (min-width:460px) {
  .page-container {
    grid-template-rows: 40px 15px 35px auto;
  }
  .page-container.list {
    grid-template-rows: 40px 15px 0 auto;
  }
}
.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  width:100%;
}
.page-container hr {
  height: 2px;
  background-color: grey;
  border: none;
  width: 100%;
}
.page-header h2 {
  position: relative;
  margin: 0 10px 0 0;
}
@media (min-width:410px){
  .page-header h2 {
      margin-right:60px;
    }
}
.page-header h2 span {
  position: absolute;
  top: -5px;
  right: -40px;
  font-size: 1.3rem;
  text-align: center;
  color: var(--white);
  background-color: var(--blue);
  border: 1px solid;
  border-radius: 10px;
  padding: 3px;
  width: 25px;
}
div.list-container {
  grid-row: 4;
  height:95%;
  display: flex;
  flex-direction: column;
  max-width:300px;
  overflow-y:auto;
}
div.list-item {
  display:flex;
  flex-direction: column;
  font-size: 1.5rem;
  margin: 10px 10px 0;
}
label.list-item-title {
  cursor: pointer;
}
label.list-item-title:hover {
  font-weight: 500;
}
label.list-item-title input {
  cursor: pointer;
  margin-right:15px;
}
div.edit-menu-container {
  font-size:1.5rem;
  padding:0 30px;
}
div.edit-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  width:200px
}
div.edit-menu button {
  cursor: pointer;
}
div.product-details {
  display:grid;
  gap: 5px 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-width:800px;
  overflow-y: auto;
}
@media (min-width:768px) {
  div.product-details {
    gap:15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 150px 150px auto;
  }
}
@media (min-width:992px) {
  div.product-details {
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 150px 150px;
  }
}
/* FORM CONTROLS */
div.textarea {
  display:flex;
  flex-direction: column;
  font-size: 1.7rem;
  opacity: 0.8;
  border:none;
  max-width:300px;
}
div.textarea textarea {
  padding:5px;
  border: solid 1px grey;
  border-radius: 5px;
  resize: vertical;
}
div.textarea textarea.valid {
  border-color: green;
}
div.textarea textarea.not-valid {
  border-color:red;
}
div.textarea textarea:focus {
  outline: none ;
  box-shadow: 0 0 10px #719ECE;
}
div.alert {
  font-size:1.5rem;
  line-height: 2rem;
  padding:5px 10px;
  border-radius: 5px;
  color:red;
  background-color: rgb(243, 227, 227);
}
div.textarea label {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
  padding:5px 0;
}
/* TOOLBAR */
.toolbar-container {
  display:flex;
  justify-content: left;
  align-items: top;
  grid-column: 1/-1;
  height:30px;
}
.save-button {
  border:none;
  margin:0 10px 0 0;
  color: green;
  cursor: pointer;
}
.save-button.disabled {
  color:orange;
  cursor:not-allowed;
}
/* ICONS - BUTTONS */
.fa-solid {
  color: white;
}
.fa-solid.fa-pencil,.fa-solid.fa-trash {
  color:grey;
  margin-right: 5px;
  height:5px;
  width:15px;
}
button.back-button {
  border: none;
  margin-right:10px;
  cursor: pointer;
}
button.back-button .fa-solid {
  color:var(--blue)
}
button.btn {
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size:1.7rem;
  font-weight:600;
  color: var(--white);
  padding:5px 15px;
  border:none;
  border-radius: 15px;
  cursor: pointer;
  height:3rem;
}
button.btn-info {
  background-color: var(--blue);
}
button.btn span {
  margin-left:10px;
  text-wrap: nowrap;
}
button.btn:active {
  background-color: lightblue;
  transform: translateY(1px);
  transition: .3s;
}


